<h1>Tiny Epic Galaxies Card</h1>

<table>
  <tr>
    <td>Score</td>
    <td>{{ getScore() }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Level</td>
    <td>{{ card.level }} ({{ card.getLevelProp('points') }})</td>
    <td><button type="button" class="btn btn-default" (click)="levelUp('energy')">spend energy</button></td>
    <td><button type="button" class="btn btn-default" (click)="levelUp('culture')">spend culture</button></td>
  </tr>
  <tr>
    <td>Dice</td>
    <td>{{ card.getLevelProp('dice') }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Rockets</td>
    <td>{{ card.getLevelProp('rockets') }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Energy</td>
    <td>{{ card.energy }}</td>
    <td><button type="button" class="btn btn-default" (click)="addEnergy()">add</button></td>
    <td><button type="button" class="btn btn-default" (click)="useEnergy()">use</button></td>
  </tr>
  <tr>
    <td>Culture</td>
    <td>{{ card.culture }}</td>
    <td><button type="button" class="btn btn-default" (click)="addCulture()">add</button></td>
    <td><button type="button" class="btn btn-default" (click)="useCulture()">use</button></td>
  </tr>
  <tr>
    <td>My Planets</td>
    <td>
      <ul>
        <li *ngFor="let planet of getPlanets(true)">{{ planet.name }} ({{ planet.victory_points }}) <a ng-href="" (click)="abandon(planet)">abandon</a></li>
      </ul>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<h2>Planets</h2>
<ul>
  <li *ngFor="let planet of getPlanets(false)">{{ planet.name }} ({{ planet.victory_points }}) <a ng-href="" (click)="conquer(planet)">conquer</a></li>
</ul>
