<h1 class="title">Tiny Epic Galaxies Card</h1>
<div class="card">
  <div class="stats">
    <div class="stat stat-score">
      <div class="label">score</div>
      {{ getScore() }}
    </div>
    <div class="stat stat-level" (click)="toggleControlSet('level')">
        <div class="label">level</div>
        {{ card.level }} ({{ card.getLevelProp('points') }})
    </div>
    <div class="stat stat-energy" (click)="toggleControlSet('energy')">
        <div class="label">energy</div>
        {{ card.energy }}
    </div>
    <div class="stat stat-culture" (click)="toggleControlSet('culture')">
        <div class="label">culture</div>
        {{ card.culture }}
    </div>
  </div>
  <div class="controls">
    <button type="button" (click)="addEnergy()" *ngIf="controlSet === 'energy'">Add</button>
    <button type="button" (click)="useEnergy()" *ngIf="controlSet === 'energy'">Use</button>
    <button type="button" (click)="addCulture()" *ngIf="controlSet === 'culture'">Add</button>
    <button type="button" (click)="useCulture()" *ngIf="controlSet === 'culture'">Use</button>
    <button type="button" (click)="levelUp('energy')" *ngIf="controlSet === 'level'">Use Energy</button>
    <button type="button" (click)="levelUp('culture')" *ngIf="controlSet === 'level'">Use Culture</button>
  </div>
  <ul class="assets">
    <li class="asset asset-rockets" *ngFor="let rocket of [0,1,2,3]; index as i">
      <span *ngIf="i >= card.getLevelProp('rockets'); else elseBlock"><i class="far fa-rocket"></i></span>
      <ng-template #elseBlock><i class="fas fa-rocket"></i></ng-template>
    </li>
    <li class="asset asset-dice" *ngFor="let die of [0,1,2,3,4,5,6]; index as i">
        <span *ngIf="i >= card.getLevelProp('dice'); else elseBlock"><i class="far fa-stop"></i></span>
        <ng-template #elseBlock><i class="fas fa-stop"></i></ng-template>
      </li>
  </ul>
  <div class="planets">
    <div class="planet" *ngFor="let planet of getPlanets()">
      <span class="pull-right">
        <a *ngIf="planet.conquered; else conquerBlock" ng-href="" (click)="abandon(planet)">abandon</a>
        <ng-template #conquerBlock><a ng-href="" (click)="conquer(planet)">conquer</a></ng-template>      
      </span>
      {{ planet.name }}
      ({{ planet.victory_points }})
      <span *ngIf="planet.conquered"><i class="fas fa-star"></i></span>
    </div>
  </div>
</div>

