@import '../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'mixins';

html {
  font-size: 16px;
}

body {
  background: black url('https://boardgamegeek.com/image/2366228/tiny-epic-galaxies?size=medium');
  color: $white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: $white;
}

.pull-right {
  float: right;
}

.btn-text,
.btn-text:active,
.btn-text:focus,
.btn-text:visited {
  background: transparent;
  border: none;
  font-size: inherit;
  outline: none;
}

.text-muted {
  color: lighten($gray, 20%);
}


@import 'app/app.component';
@import 'app/planet-card/planet-card.component';