@media (min-width: 800px)  {
  app-root {
    .zenith {
    }
  
    .cols {
      display: flex; // height: 100%;
  
      .col.card {
        flex: 1;
      }
  
      .col.planets {
        flex: 2;
        height: 100%;
        overflow: scroll;
      }
    }
  
    .stats,
    .assets,
    .controls {
      display: flex;
      list-style: none;
      margin: 0;
      padding: .1rem;
    }
  
    .stats {
      flex-direction: column;
    }
  
    .stat,
    .asset,
    .controls button {
      flex: 1;
      margin: .1rem;
      padding: .3rem;
      text-align: center;
    }
  
    .stat {
      @include border-std($dkgreen);
      font-size: 2em;
  
      .label {
        color: $green;
        font-size: .3em;
        top: 0;
        width: 100%;
      }
    }
  
    .controls {
      button {
        @include border-std($dkgreen);
        background: transparent;
        color: $white;
      }
    }
  }
}
